<h1>Project detail</h1>

<div class="row" ng-show="apd.project.image">
    <div class="col-lg-12">
        <img ng-src="{{apd.image}}" width="400px" class="thumbnail" alt="foto project">
    </div>
</div>

<div class="row" ng-show="apd.project.id">
    <div class="col-lg-12">
        <h3>{{apd.project.title}}</h3>
        <p><strong>Jaar :</strong> {{apd.project.year}}</p>
        <p><strong>Locatie :</strong> {{apd.project.location}}</p>
    </div>
</div>

<h3 ng-show="apd.project.sponsors">Sponsors</h3>
<div class="row" ng-show="apd.project.sponsors">
    <div class="col-lg-12">
        <ul>
            <li ng-repeat="sponsor in apd.project.sponsors track by $index">{{sponsor.name}}</li>
        </ul>
    </div>
</div>

<h3 ng-show="apd.project.technologies">Technologie&euml;n</h3>
<div class="row" ng-show="apd.project.technologies">
    <div class="col-lg-12">
        <ul>
            <li ng-repeat="technology in apd.project.technologies track by $index">
                {{technology.name}}
            </li>
        </ul>
    </div>
</div>

<h3 ng-show="apd.students">Studenten aan het project verbonden</h3>
<div class="row" ng-show="apd.students">
    <div class="col-lg-12">
        <ul>
            <li ng-repeat="student in apd.students track by $index">
                {{student.firstname}}&nbsp;{{student.lastname}}
            </li>
        </ul>
    </div>
</div>

<h4 ng-show="apd.project.longdescription">Project lange omschrijving</h4>
<div class="row" ng-show="apd.project.longdescription">
    <div class="col-lg-12">
        {{apd.project.longdescription}}
    </div>
</div>

<div class="row" ng-hide="apd.project.id">
    <div class="alert alert-warning">
        <p>Er zijn geen resultaten voor dit project</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-default" ng-click="apd.goBack()">Ga terug naar het project overzicht</button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-10 col-md-10">
        <div ng-repeat="postTeaser in apd.posts track by $index">
            <div class="row">
                <div class="col-lg-12 col-md-12 well">
                    <h3>{{postTeaser.title}}</h3>
                    <div ng-bind-html="postTeaser.read_more"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 ">
                    <p>
                        <button class="btn btn-primary">Lees meer</button>
                        <strong>
                            <span class="pull-right">
                            Geplaatst door:&nbsp;
                            {{postTeaser.student.firstname}}&nbsp;{{postTeaser.student.lastname}}
                        </span>
                        </strong>
                    </p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<br>
