<h1>Overzicht blogposts</h1>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div ng-repeat="postTeaser in home.postTeasers track by $index" class="well">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h3>{{postTeaser.title}}</h3>
                    <div ng-bind-html="postTeaser.read_more"></div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <p>
                        <a href="javascript:;">Lees meer</a>
                        <strong>
                            <span class="pull-right">
                            Geplaatst door:&nbsp;
                            {{postTeaser.student.firstname}}&nbsp;{{postTeaser.student.lastname}}
                        </span>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
